[build]
  publish = "build"
  command = "npm run build"

[build.environment]
  # This tells Netlify: "It's okay to see these keys in the code output"
  SECRETS_SCAN_OMIT_KEYS = "REACT_APP_FIREBASE_API_KEY,REACT_APP_FIREBASE_APP_ID,REACT_APP_FIREBASE_AUTH_DOMAIN,REACT_APP_FIREBASE_MEASUREMENT_ID,REACT_APP_FIREBASE_MESSAGING_SENDER_ID,REACT_APP_FIREBASE_PROJECT_ID,REACT_APP_FIREBASE_STORAGE_BUCKET,REVIEW_ID"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200